#Este archivo sí se sube al repositorio (a diferencia del .env real que nunca debe subirse). 
#Sirve como guía para cuando se clone el proyecto 
#Y saber que variable se necesita para crearlo en tu máquina.

VITE_API_URL=http://localhost/backend-bolsajb/api